.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 220px;
  height: 80px;
  margin: 0;
  left: 16.5%;
  top: 45%;
  z-index: 5;
  border: 1px solid rgb(98, 192, 156);
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
}

.off.confirm {
  display: none;
}

.confirm_header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #02463d;
  width: 220px;
  height: 30px;
  margin: 0;
}

#confirmText {
  color: white;
  font-size: 11px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.confirm_options_cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  padding-top: 45px;
}

.confirm_options_cover button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  font-weight: bold;
  color: #02463d;
  background-color: #ffff8b;
  border: 1px solid rgb(98, 192, 156);
  cursor: pointer;
}

.confirm_options_cover button:hover {
  background-color: #ffffff;
}

.visible {
  display: none;
  width: 16px;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

.invisible {
  width: 16px;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

.load {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 600px;
  background: white;
  top: 0%;
  margin: 0;
}

.off.load {
  display: none;
}

@keyframes Load {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.load-logo {
  width: 100px;
  margin: 0;
  animation: Load 2s ease-in-out infinite;
}

.rt_logo {
  width: 120px;
  margin-bottom: 10px;
}

#log,
#sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.log_c {
  width: 330px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.off.log_c {
  display: none;
}

#number-log {
  outline: 1px solid;
  outline-color: #076c5e;
  appearance: none;
  width: 180px;
  border: none;
  padding: 10px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin: 0;
}

#az-log {
  appearance: none;
  width: 140px;
  border: none;
  padding: 4px 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin: 0;
}

#country {
  outline: 1px solid;
  outline-color: #076c5e;
  appearance: none;
  width: 200px;
  padding: 10px 0px;
  margin-top: 4px;
  font-size: 14px;
  text-align: center;
  border-style: none;
  background-color: #fff;
}

#first {
  outline: 1px solid;
  outline-color: #076c5e;
  appearance: none;
  width: 180px;
  border: none;
  padding: 10px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin-top: 5px;
}

#last,
#az-last,
#az-country,
#az-new-set,
#az-new-confirm {
  margin-top: 5px;
  outline: 1px solid;
  outline-color: #076c5e;
  appearance: none;
  width: 180px;
  border: none;
  padding: 10px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin-top: 5px;
}

#phone,
#az-phone,
#az-code {
  outline: 1px solid;
  outline-color: #076c5e;
  appearance: none;
  width: 180px;
  border: none;
  padding: 10px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin-top: 5px;
}

#az {
  appearance: none;
  width: 140px;
  border: none;
  padding: 4px 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin: 0;
}

#az-confirm {
  appearance: none;
  width: 140px;
  border: none;
  padding: 4px 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin: 0;
}

.az-p {
  overflow: hidden;
  border: 1px solid;
  border-color: #076c5e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  padding: 8px 10px;
  margin-top: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fff;
}

.textType {
  appearance: none;
  width: 140px;
  border: none;
  padding: 4px 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #fff;
  margin: 0;
}

.sign_c {
  width: 330px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.off.sign_c {
  display: none;
}

.fgt {
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.welcome {
  color: darkslategray;
  font-weight: bold;
}

.ll {
  font-size: 16px;
  font-weight: bolder;
  color: #076c5e;
  cursor: pointer;
}

.ss {
  font-size: 16px;
  font-weight: bolder;
  color: #076c5e;
  cursor: pointer;
}

.btn {
  width: 120px;
  display: block;
  background-color: #076c5e;
  padding: 5px;
  color: #fff;
  font-weight: bolder;
  margin: 10px auto;
  border-style: none;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  cursor: pointer;
}

span {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: darkslategray;
}

#l_error {
  width: 220px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: red;
  text-align: center;
  font-size: 14px;
  /* white-space: pre-wrap;
  line-height: 10px; */
}

#s_error {
  width: 220px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: red;
  text-align: center;
  font-size: 14px;
}

.az-restart-bx {
  width: 330px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.off.az-restart-bx {
  display: none;
}

.az-restart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.az-otp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.az-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.off.az-restart {
  display: none;
}

.off.az-otp {
  display: none;
}

.off.az-new {
  display: none;
}

.az-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#restart-prompt {
  width: 200px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

#restart_error,
#otp_error,
#azNew_error {
  width: 220px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: red;
  text-align: center;
  font-size: 14px;
}

.terms-bx {
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 330px;
  height: 600px;
  font-size: 12px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.off.terms-bx {
  display: none;
}

.term-text {
  color: #076c5e;
}

.terms {
  width: 250px;
  height: 300px;
  margin-bottom: 20px;
  overflow: auto;
}

.agree-bx {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agree_continue {
  width: 120px;
  background-color: #80808080;
  padding: 5px;
  color: #fff;
  font-weight: bolder;
  margin: 30px auto;
  border-style: none;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  cursor: pointer;
}
.agree-bx span {
  font-size: 11px;
  font-weight: bold;
  margin-left: 5px;
}

.agree-check {
  width: auto;
  margin: 0;
}
