body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: lightgoldenrodyellow;
  background-image: url("cover.jpg");
  background-size: cover;
  user-select: none;
}

.source {
  width: 330px;
  height: 600px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  border: 2px solid;
  border-color: #076c5e;
  overflow: hidden;
}

.root_bx {
  width: 330px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.off.root_bx {
  display: none;
}

.main_cvx {
  width: 330px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cvx-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

label {
  margin-top: 10px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  display: block;
  color: #525252;
  text-align: center;
}

.sendAmount {
  width: 130px;
  border: none;
  padding: 5px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: #fff;
  margin: 0;
}

.amount-to-send-bx {
  border: 1px solid;
  border-color: #076c5e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  padding: 5px 10px;
  margin-top: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: #fff;
}

.amount-to-send-span {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #999999;
}

.receiveAmount {
  width: 130px;
  border: none;
  padding: 5px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: #fff;
  margin: 0;
}

.amount-to-receive-bx {
  border: 1px solid;
  border-color: #076c5e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  padding: 5px 10px;
  margin-top: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: #fff;
}

.amount-to-receive-span {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #999999;
}

.input_stop {
  border: 1px solid;
  border-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  padding: 5px 10px;
  margin-top: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: #fff;
}

input:focus {
  outline: none;
}

#senderCountry {
  outline: 1px solid;
  outline-color: #076c5e;
  appearance: none;
  width: 200px;
  padding: 10px 0px;
  margin-top: 4px;
  font-size: 14px;
  text-align: center;
  border-style: none;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: #fff;
}

#receiverCountry {
  outline: 1px solid;
  outline-color: #076c5e;
  appearance: none;
  width: 200px;
  padding: 10px 0px;
  margin-top: 4px;
  font-size: 14px;
  text-align: center;
  border-style: none;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: #fff;
}

option {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu_bar {
  display: flex;
  width: 330px;
  height: 70px;
  align-items: center;
  padding-top: 15px;
  background-color: #076c5e;
}

.menu_bx {
  width: 160px;
  margin-left: 5px;
  margin-right: 15px;
  padding: 0px 15px;
}

.menu_icon {
  color: white;
  cursor: pointer;
  width: 20px;
  margin-top: 3px;
  margin-right: 3px;
}

.menu_icon_title {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu_title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  cursor: pointer;
  color: #fff;
}

.user-bx {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  background-color: #076c5e;
  /* align-self: flex-start; */
  padding: 5px 10px;
}

#user {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.main_menu {
  width: 150px;
  position: absolute;
  height: 610px;
  align-items: center;
  top: -3px;
  left: -1%;
  border: 2px solid;
  border-color: #076c5e;
  background-color: #fff;
  box-shadow: 2px 1px 2px rgb(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 17px 0px 0px 17px;
  z-index: 1;
}

.off.main_menu {
  display: none;
}

.close_menu_window {
  width: 20px;
  position: absolute;
  top: 10px;
  left: 83%;
  z-index: 2;
  cursor: pointer;
}

.main_menu p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: bolder;
  width: 120px;
  color: #93d3ca;
  border: 1px solid;
  border-color: #076c5e;
  padding-left: 10px;
  cursor: pointer;
}

.main_menu p:first-child {
  margin-top: 70px;
}

.main_menu p:nth-child(7) {
  margin-top: 260px;
}

.main_menu p:nth-child(9) {
  color: #076c5e;
}

.main_menu_logo {
  width: 100px;
  margin-top: 35px;
  padding: 0;
  margin-left: 10px;
}

.logo_flags {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.logo {
  width: 100px;
  margin-bottom: 3px;
  margin-top: 0;
}

.country_flags {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.country_flags img {
  width: 15px;
}

.logo_flagsDos {
  position: relative;
  display: flex;
  top: 5%;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #028b4b;
  }
  50% {
    background-color: #bb0303;
  }
  75% {
    background-color: #0167ac;
  }
  100% {
    background-color: #300046;
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.withdrawal_fee_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.off.withdrawal_fee_container {
  display: none;
}

.check-withdrawal {
  width: auto;
  margin: 0 5px;
}

.withdrawal_fee_title {
  font-size: 12px;
  margin: 0;
  color: rgb(0, 109, 172);
}

.preview {
  width: 180px;
  display: block;
  background-color: gray;
  padding: 5px 20px;
  color: white;
  margin: 5px auto;
  border-style: none;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
}

.off.preview {
  width: 180px;
  display: block;
  background-color: #076c5e;
  padding: 5px 20px;
  color: white;
  margin: 12px auto;
  border-style: none;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
}

.error {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: none;
  width: 200px;
  color: red;
  font-size: 12px;
  line-height: 13px;
}

.off.error {
  display: none;
}

.showFee {
  margin-top: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(255, 255, 163);
  padding: 2px 4px;
  color: red;
  font-size: 14px;
  text-align: center;
  outline: 1px solid rgb(221, 221, 221);
}

.off.showFee {
  display: none;
}

.cvx {
  background-color: #ffffff;
  border: 1px solid;
  border-color: rgb(223, 223, 223);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 10px auto;
}

.off.cvx {
  display: none;
}

.cvx p {
  color: gray;
  text-align: left;
  font-size: 14px;
  margin: 0;
}

#rslt1 {
  color: darkblue;
}
#rslt2 {
  color: darkblue;
}
#rslt3 {
  color: red;
}
#rslt4 {
  color: green;
  font-weight: bold;
}

.copy_buttons {
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #424242;
}

.copy_buttons p {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  padding: 0 10px;
}

.off.copy_buttons {
  display: none;
}
.copy_buttons button {
  width: 25px;
  background-color: white;
  padding: 2px;
  border-style: none;
  color: #000;
  font-size: 12px;
  margin: 2px 5px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
}
