.rct-bx {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px;
}

.rct-top {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffd666;
  padding: 5px;
}

.form-rct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-family: Helvetica, sans-serif;
}

label {
  color: #076c5e;
  margin-top: 10px;
  font-weight: bold;
}

#amountReceived,
#sender,
#receiver,
#trx {
  display: block;
  border: solid 1px #076c5e;
  width: 300px;
  margin-top: 2px;
  padding: 12px;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: white;
}

input:focus {
  outline: none;
}

.time {
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: white;
  width: 120px;
  padding: 8px 10px;
  margin: 0;
  border-style: none;
  font-size: 14px;
}

#senderCountry,
#receiverCountry {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  width: 75px;
  padding: 10px 5px;
  text-align: center;
  font-size: 14px;
  border-style: none;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
}

select:focus {
  outline: none;
}

.logo {
  width: 120px;
  margin-bottom: 5px;
}

.rct-submit {
  width: 300px;
  background-color: #076c5e;
  color: white;
  padding: 5px;
  font-size: 16px;
  border-style: none;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  cursor: pointer;
  margin-top: 10px;
}

.rct-response {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#response {
  line-height: 18px;
  border: 1px solid #d1f8f3;
  padding: 15px;
  color: rgb(99, 99, 99);
  text-align: left;
}

.all-trx {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 20px;
  color: #076c5e;
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
}

.all-trx:hover {
  background-color: #ffe8a8;
}

.report {
  cursor: pointer;
  margin-top: 10px;
  font-family: Helvetica, sans-serif;
  color: #b80404;
}

.report:hover {
  color: #ff3636;
}

#goHome {
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  color: #076c5e;
}

#goHome:hover {
  color: #02ad97;
}

#new-trx {
  width: 220px;
  background-color: #ffd666;
  color: #076c5e;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border-style: none;
  box-shadow: 1px 1px 2px rgb(73, 73, 73, 0.3);
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid #ffffff;
}

#new-trx:hover {
  border: 1px solid #076c5e;
  background-color: #ffffff;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.api-bx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#currency {
  display: block;
  border: solid 1px #076c5e;
  width: 120px;
  margin-top: 5px;
  padding: 12px;
  font-size: 14px;
  background-color: #ffd666;
  color: #076c5e;
  font-weight: bold;
}

#buyBN {
  display: block;
  background-color: darkgreen;
  color: white;

  border: solid 1px #076c5e;
  width: 300px;
  margin-top: 5px;
  padding: 12px;
  font-size: 16px;
}

#sellBN {
  display: block;
  background-color: darkred;
  color: white;
  border: solid 1px #076c5e;
  width: 300px;
  margin-top: 5px;
  padding: 12px;
  font-size: 16px;
}

#amount {
  display: block;
  background-color: aliceblue;
  border: solid 1px #076c5e;
  width: 300px;
  margin-top: 5px;
  padding: 12px;
  font-size: 16px;
}

#paying {
  display: block;
  background-color: yellow;
  border: solid 1px #076c5e;
  width: 300px;
  margin-top: 5px;
  padding: 12px;
  font-size: 16px;
}

.api-submit {
  background-color: #076c5e;
  color: #fff;
  border: none;
  width: 300px;
  margin-top: 15px;
  padding: 10px 0;
  font-size: 16px;
}

#api p {
  margin-top: 5px;
  font-size: 14px;
  text-align: right;
  margin-right: 10px;
}

.rate-bx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.rate-bx h2 {
  color: #076c5e;
}

.rate-d {
  white-space: pre-line;
  background-color: #ffffff;
  border: 2px solid rgb(228, 228, 228);
  padding: 10px 25px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bolder;
  color: #076c5e;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#rateDate {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #ffe8a8;
  margin-top: 5px;
  padding: 5px 25px;
  color: #ff3636;
}

.wrapcopy {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#copyEn {
  border: solid 1px #076c5e;
  margin-right: 30px;
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
}

#copyFr {
  border: solid 1px #076c5e;
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
}

.net-bx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#net-country {
  display: block;
  border: solid 1px #076c5e;
  width: 300px;
  padding: 12px;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: white;
}

#net-phone {
  display: block;
  border: solid 1px #076c5e;
  width: 300px;
  margin-top: 10px;
  padding: 12px;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: white;
}

#error-net {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

#net-display {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #076c5e;
  font-weight: bold;
  margin-top: 20px;
  background-color: #fff2cd;
  padding: 5px 10px;
}

.net-btn {
  width: 300px;
  background-color: #076c5e;
  color: white;
  padding: 5px;
  font-size: 16px;
  border-style: none;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  cursor: pointer;
  margin-top: 10px;
}

.cust-bx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#cust-number {
  display: block;
  border: solid 1px #076c5e;
  width: 300px;
  margin-top: 10px;
  padding: 12px;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: white;
}

.cust-btn {
  width: 300px;
  background-color: #076c5e;
  color: white;
  padding: 5px;
  font-size: 16px;
  border-style: none;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  cursor: pointer;
  margin-top: 10px;
}

#cust-error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

#cust-display {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #076c5e;
  font-weight: bold;
  margin-top: 20px;
  background-color: #fff2cd;
  padding: 5px 10px;
}

.main_cvx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#cvx-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#senderC,
#receiverC {
  outline: 1px solid;
  outline-color: #076c5e;
  appearance: none;
  width: 300px;
  padding: 13px 0px;
  margin-top: 4px;
  font-size: 16px;
  text-align: center;
  border-style: none;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: #fff;
}

.amount-to-send-bx,
.amount-to-receive-bx {
  border: 1px solid;
  border-color: #076c5e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 3px 10px;
  margin-top: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: #fff;
}

.input_stop {
  border: 1px solid;
  border-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 3px 10px;
  margin-top: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: #fff;
}

.amount-to-send-span,
.amount-to-receive-span {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #999999;
}

.sendAmount,
.receiveAmount {
  width: 220px;
  border: none;
  padding: 8px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  background-color: #fff;
  margin: 0;
}

.showFee {
  margin-top: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(255, 255, 163);
  padding: 4px 10px;
  color: red;
  font-size: 14px;
  text-align: center;
  outline: 1px solid rgb(221, 221, 221);
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #028b4b;
  }
  50% {
    background-color: #bb0303;
  }
  75% {
    background-color: #0167ac;
  }
  100% {
    background-color: #300046;
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.withdrawal_fee_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.check-withdrawal {
  width: auto;
  margin: 0 5px;
}

.withdrawal_fee_title {
  font-size: 16px;
  margin: 0;
  color: rgb(0, 109, 172);
}

.preview {
  width: 300px;
  display: block;
  background-color: gray;
  padding: 5px 20px;
  color: white;
  margin: 10px auto;
  border-style: none;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
}

.active.preview {
  width: 300px;
  display: block;
  background-color: #076c5e;
  padding: 5px 20px;
  color: white;
  margin: 10px auto;
  border-style: none;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
}

.error-cvx {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  width: 200px;
  color: red;
  font-size: 12px;
  line-height: 13px;
  margin-top: 5px;
}

.cvx {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid;
  border-color: rgb(223, 223, 223);
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: 1px auto;
}

.cvx p {
  color: gray;
  text-align: left;
  font-size: 16px;
  margin: 0;
}

#rslt1 {
  color: darkblue;
}
#rslt2 {
  color: darkblue;
}
#rslt3 {
  color: red;
}
#rslt4 {
  color: green;
  font-weight: bold;
}

.copy_buttons {
  width: 200px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  margin-bottom: 5px;
}

.copy_buttons p {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0 10px;
}

.copy_buttons button {
  width: 30px;
  background-color: white;
  padding: 4px 4px;
  border-style: none;
  color: #072a6c;
  font-size: 14px;
  font-weight: bold;
  margin: 2px 5px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
}

#onTopBx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.onTop-btn {
  width: 200px;
  display: block;
  background-color: #076c5e;
  padding: 5px 20px;
  color: white;
  margin: 10px auto;
  border-style: none;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
}

#change-order {
  border: 1px solid;
  border-color: #076c5e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  background-color: #fff;
}
